body {
    padding: 0;
    margin: 0;
    background-color: rgb(20, 24, 32);
    color: #c9e4f4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a{
    color:#57acdc;
}
a:visited{
    color:#57acdc;
}
a:hover{
    color:#276bb0;
}

#disclaimer{
    font-size: 12px;
}

.message {
    max-width: 720px;
}

.content {
    width: 100%;
    height: 600px;
    background-color: #cee8f6;
    color: rgb(20, 24, 32);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

#allForms {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    font-size: large;
    margin: 2%;
}

.aForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.aForm button{
    align-self: flex-end;
}
.aForm span{
    margin-right: 30px;
}
.aForm input{
    margin-left: 10px;
}
.aForm button{
    max-width: 60px;
}

.aForm form{
    display: flex;

}

.aFormInputs{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content: space-between;
    gap: 7px;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 3%;
    margin: 12px;
}

.footer{
    position:static;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .red1{
    height: 25px;
    width: 25px;
    background-color: #e91e63;
    border-radius: 50%;
    display: inline-block;
}
.red2{
    height: 25px;
    width: 25px;
    background-color: #c21858;
    border-radius: 50%;
    display: inline-block;
}
.purple1{
    height: 25px;
    width: 25px;
    background-color: #9c27b0;
    border-radius: 50%;
    display: inline-block;
}
.purple2{
    height: 25px;
    width: 25px;
    background-color: #5727b0;
    border-radius: 50%;
    display: inline-block;
}
.blue1{
    height: 25px;
    width: 25px;
    background-color: #272ab0;
    border-radius: 50%;
    display: inline-block;
}
.blue2{
    height: 25px;
    width: 25px;
    background-color: #276bb0;
    border-radius: 50%;
    display: inline-block;
}
.blue3{
    height: 25px;
    width: 25px;
    background-color: #57acdc;
    border-radius: 50%;
    display: inline-block;
}
.green1{
    height: 25px;
    width: 25px;
    background-color: #57dcbe;
    border-radius: 50%;
    display: inline-block;
}
.green2{
    height: 25px;
    width: 25px;
    background-color: #60c689;
    border-radius: 50%;
    display: inline-block;
} */